GPT_IMAGE_BASE_URL=http://154.12.91.166:3000/v1
GPT_IMAGE_API_KEY=YOUR_IMAGE_API_KEY
GPT_IMAGE_MODEL=gpt-image-2
GPT_TEXT_BASE_URL=http://154.12.91.166:3000/v1
GPT_TEXT_API_KEY=YOUR_TEXT_API_KEY
GPT_TEXT_MODEL=YOUR_TEXT_MODEL
